body,
html {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.userSearch {
  width: 1000px;
  background-color: hsl(157, 72%, 42%);
  padding-bottom: 20px;
  margin: 20px;
  border: 5px solid black;
  border-radius: 10px;

  // Header.js ----------------------------

  .header {
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-around;
    align-items: stretch;
    border-bottom: 5px solid black;

    h1 {
      margin: 0;
      font-size: 40px;
      padding-left: 15px;
    }

    nav {
      align-self: flex-end;
      padding-right: 10px;
      span {
        margin: 0;
        font-size: 30px;
        padding-left: 15px;
        cursor: pointer;
      }
    }
  }

  // Form -----------------------------------------
  form {
    margin: 10px 0;

    .inputText {
      width: 250px;
      height: 30px;
      text-indent: 5px;
      border: none;
      border-radius: 5px;
    }

    .searchBtn {
      border: none;
      background-color: hsl(182, 84%, 48%);
      margin-left: 10px;
      width: 100px;
      height: 35px;
      cursor: pointer;
      border-radius: 5px;
    }

    .inputText,
    .searchBtn {
      font-size: 20px;
    }
  }

  //SearchReasults.js ----------------------------------

  table {
    width: 80%;
    text-align: left;
    background-color: white;
    border-spacing: 0;
    font-size: 20px;
    td,
    th {
      border: 1px solid #ffffff;
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: hsl(182, 100%, 24%);
      color: white;
    }

    tr:nth-child(even) {
      background-color: hsl(160, 100%, 85%);
    }
  }

  table,
  .inputText {
    margin: 10px 15px;
  }
}

// About.js
.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 400px;
  font-size: 20px;

  p {
    width: 350px;
    line-height: 35px;
    text-align: justify;
  }
}
